<!DOCTYPE html>
<html lang="en" data-th-replace="~{Adminbase :: admin(~{::#content},~{::#title},~{})}">
<head>
    <title id="title">AdminPage</title>   
</head>
<body> 
    <div id="content">
        <section class="bg-white dark:bg-gray-900">
            <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Hi! I'm Sanket , an online bookseller.</h2>
                    <p class="mb-4">With over 12 years of experience in the book industry, I’ve dedicated my life to sharing my love of reading with others. From helping you find your next favorite novel to recommending hidden gems, I’m here to ensure your book-buying experience is as enjoyable as possible.</p>
                    <p>We believe every book is a doorway to a new world. Whether you're an avid reader or just starting your literary journey, our carefully curated selection offers something for everyone. 
                        <br>
                        Our store is open from 12:00pm to 2:00pm, and I invite you to drop by anytime to chat about books, explore our latest arrivals, or seek personalized recommendations
                    </p>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <img class="w-full rounded-lg" src="https://pbs.twimg.com/profile_images/1820442528128077825/TiGZzJQj_400x400.jpg">
                    <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://i.pinimg.com/originals/6b/9f/e2/6b9fe232b66813ea61208f6e9b66a945.jpg">
                </div>
            </div>
        </section>
    </div>  
</body>
</html>