<!DOCTYPE html>
<html lang="en" data-th-replace="~{Adminbase :: admin(~{::#content},~{::#title},~{})}">
<head>
    <title id="title">AdminPage</title>   
</head>
<body> 
    <div id="content">
        <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
            <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">"Love this job"</h3>
                    <p class="my-4">Serving as a bookstore owner from the past 15 years</p>
                </blockquote>
                <figcaption class="flex items-center justify-center ">
                    <img class="rounded-full w-9 h-9" src="https://pbs.twimg.com/profile_images/1820384417338023936/EIb9TeSe_400x400.jpg" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                        <div>Vaidik Bhardwaj</div>
                        <div class="text-sm text-gray-500 dark:text-gray-400 ">VAIDIK BHARDWAJ / Time: 9-12</div>
                    </div>
                </figcaption>    
            </figure>
            <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">“That's the thing about books. They let you travel without moving your feet.”</h3>
                    <p class="my-4">Serving as a bookstore owner for the past 12 years</p>
                </blockquote>
                <figcaption class="flex items-center justify-center ">
                    <img class="rounded-full w-9 h-9" src="https://pbs.twimg.com/profile_images/1820442528128077825/TiGZzJQj_400x400.jpg" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                        <div>Sanket Kamboj</div>
                        <div class="text-sm text-gray-500 dark:text-gray-400">SANKET KAMBOJ / Time: 12-2</div>
                    </div>
                </figcaption>    
            </figure>
            <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">“So many books, so little time.”</h3>
                    <p class="my-4">Serving as a book store owner for the past 15 years</p>
                </blockquote>
                <figcaption class="flex items-center justify-center ">
                    <img class="rounded-full w-9 h-9" src="https://media.licdn.com/dms/image/v2/D5603AQEyeUW-zwDTPg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1726490255143?e=1733356800&v=beta&t=7l-G6XaKjxPCtjzrlM2gu077lkiTNE5W1wSdssFB3BE" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                        <div>Aditya Gulalia</div>
                        <div class="text-sm text-gray-500 dark:text-gray-400">ADITYA GULALIA / Time: 2-6</div>
                    </div>
                </figcaption>    
            </figure>
            <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">“A room without books is like a body without a soul.”</h3>
                    <p class="my-4">Serving as a book store owner for the past 10 years.</p>
                </blockquote>
                <figcaption class="flex items-center justify-center ">
                    <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                        <div>Joseph McFall</div>
                        <div class="text-sm text-gray-500 dark:text-gray-400">TARUSHI GOYAL / Time: 6-8</div>
                    </div>
                </figcaption>    
            </figure>
        </div>
    </div>  
</body>
</html>