<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::#title},~{})}">
<head>
    <title id="title">Contact Us</title>   
</head>
<body> 
    <div id="content" style="margin-top: 100px;">
        <div id="cards" style="  width:100%; display: flex; flex-wrap:wrap ;justify-content:space-evenly ;align-content:space-evenly">
    
            <div style=" border-top:5px #d1a38c solid;margin-top:40px; height:500px; width:400px" class="  w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-end px-4 pt-4">
                </div>
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://pbs.twimg.com/profile_images/1820384417338023936/EIb9TeSe_400x400.jpg" alt="Bonnie image"/>
                    <h5 style="font-size:32px ;margin-top:30px; color:dark-grey;" class="mb-1 text-xl font-medium text-gray-900 dark:text-white">VAIDIK BHARDWAJ</h5>
                    <span style="position:relative; top:60px;"class="text-sm text-gray-500 dark:text-gray-400">A student at TIET <br> Persuing B.tech in Computer Science Branch</span>
                    <div class="icons" style=" position:relative;top:220px; height:50px; width:200px ;display:flex; justify-content: space-evenly; align-content: space-evenly;">
                        <a href="https://www.instagram.com/vaidik_bhrdwj/"><i class="fa-brands fa-instagram" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="https://www.linkedin.com/in/vaidik-bhardwaj-21a8b7320/"><i class="fa-brands fa-linkedin" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="https://x.com/VaidikBhrdwj"><i class="fa-brands fa-x-twitter" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                    </div>
                    
                </div>
            </div>
            
            <div style=" border-top:5px #d1a38c solid;margin-top:40px; height:500px; width:400px" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-end px-4 pt-4">
                </div>
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://media.licdn.com/dms/image/v2/D4D03AQGqvSKHdaNVag/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1727006147853?e=1733356800&v=beta&t=tJ3aFyVASGaYU3G0R9_hfvpzV9Pf1ZsRyJvNgT2vVa8" alt="Bonnie image"/>
                    <h5 style="font-size:32px ;margin-top:30px; color:dark-grey;" class="mb-1 text-xl font-medium text-gray-900 dark:text-white">SANKET KAMBOJ</h5>
                    <span style="position:relative; top:60px;"class="text-sm text-gray-500 dark:text-gray-400">A student at TIET <br> Persuing B.tech in Computer Science Branch</span>
                    <div class="icons" style=" position:relative;top:220px; height:50px; width:200px ;display:flex; justify-content: space-evenly; align-content: space-evenly;">
                        <a href="https://www.instagram.com/sanket_mehrok/"><i class="fa-brands fa-instagram" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="https://www.linkedin.com/in/sanket-kamboj-497717321/"><i class="fa-brands fa-linkedin" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="https://x.com/SANKETKAMBOJ1"><i class="fa-brands fa-x-twitter" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                    </div>
                    
                </div>
            </div>
            
            <div style=" border-top:5px #d1a38c solid;margin-top:40px; height:500px; width:400px" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-end px-4 pt-4">
                </div>
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://media.licdn.com/dms/image/v2/D5603AQEyeUW-zwDTPg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1726490255143?e=1733356800&v=beta&t=7l-G6XaKjxPCtjzrlM2gu077lkiTNE5W1wSdssFB3BE" alt="Bonnie image"/>
                    <h5 style="font-size:32px ;margin-top:30px; color:dark-grey;" class="mb-1 text-xl font-medium text-gray-900 dark:text-white">ADITYA GULALIA</h5>
                    <span style="position:relative; top:60px;"class="text-sm text-gray-500 dark:text-gray-400">A student at TIET <br> Persuing B.tech in Computer Science Branch</span>
                    <div class="icons" style=" position:relative;top:220px; height:50px; width:200px ;display:flex; justify-content: space-evenly; align-content: space-evenly;">
                        <a href="https://www.instagram.com/_aditya_gulalia/"><i class="fa-brands fa-instagram" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="https://www.linkedin.com/in/aditya-gulalia-aa4a08264/"><i class="fa-brands fa-linkedin" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                    </div>
                    
                </div>
            </div>
            
            <div style=" border-top:5px #d1a38c solid; margin-top:40px;height:500px;margin-bottom:100px; width:400px" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-end px-4 pt-4">
                </div>
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="" alt="Bonnie image"/>
                    <h5 style="font-size:32px ;margin-top:30px; color:dark-grey;" class="mb-1 text-xl font-medium text-gray-900 dark:text-white">TARUSHI GOYAL </h5>
                    <span style="position:relative; top:60px;"class="text-sm text-gray-500 dark:text-gray-400">A student at TIET <br> Persuing B.tech in Computer Science Branch</span>
                    <div class="icons" style=" position:relative;top:220px; height:50px; width:200px ;display:flex; justify-content: space-evenly; align-content: space-evenly;">
                        <a href="https://www.instagram.com/vaidik_bhrdwj/"><i class="fa-brands fa-instagram" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAFFKi3YBilSntHpHXKNB12ng05SP0jd8MT8&keywords=vaidik%20bhardwaj&origin=RICH_QUERY_SUGGESTION&position=0&searchId=5d490170-1ebb-458a-a075-5b7c8ece4e69&sid=Bdp&spellCorrectionEnabled=false"><i class="fa-brands fa-linkedin" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                        <a href="https://x.com/VaidikBhrdwj"><i class="fa-brands fa-x-twitter" style="font-size:30px; text-align:center ;padding-top:5px;"></i></a>
                    </div>
                    
                </div>
            </div>
            
            
            
                </div>
    </div>  
</body>
</html>