<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::#title},~{})}">
<head>
    <title id="title">home</title>   
</head>
<body> 
    <div id="content">
        
    <div class="slider1" style="margin-top:100px;">
<div class="slideshow-container1">

    <div class="mySlides fade">
      
      <img src="https://static.wixstatic.com/media/300ba5_6602729e35ab488589b4b7b0f5f9963f~mv2.jpg/v1/fill/w_3000,h_571,al_c,q_85,enc_auto/WEBSITE%20BANNER%20copy.jpg"  style="width:100%">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides fade">
    
      <img src="https://static.wixstatic.com/media/300ba5_6602729e35ab488589b4b7b0f5f9963f~mv2.jpg/v1/fill/w_3000,h_571,al_c,q_85,enc_auto/WEBSITE%20BANNER%20copy.jpg" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides fade">
      
      <img src="https://static.wixstatic.com/media/300ba5_6602729e35ab488589b4b7b0f5f9963f~mv2.jpg/v1/fill/w_3000,h_571,al_c,q_85,enc_auto/WEBSITE%20BANNER%20copy.jpg" style="width:100%">
      <div class="text">Caption Three</div>
    </div>

    <div class="mySlides fade">
        
        <img src="https://static.wixstatic.com/media/300ba5_6602729e35ab488589b4b7b0f5f9963f~mv2.jpg/v1/fill/w_3000,h_571,al_c,q_85,enc_auto/WEBSITE%20BANNER%20copy.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        
        <img src="https://static.wixstatic.com/media/300ba5_6602729e35ab488589b4b7b0f5f9963f~mv2.jpg/v1/fill/w_3000,h_571,al_c,q_85,enc_auto/WEBSITE%20BANNER%20copy.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
  
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div>
</div>

<div style="background-color: #e9ded0; border-radius: 50px; justify-content: center;" class="inventory">
   <div style="background-color: white; margin: 20px;" class="books dimen">
      <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/710JgqkbcfL._AC_UL348_SR348,348_.jpg" alt="">
      <div class="info">
        <h4>TRAITORS GATE</h4>
      <h6>William Warwick</h6>
      <p>₹324</p>
      <a style="color: green;" href="">Available for rent</a>
      </div>
   </div>
   <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/715UIaME2CL._AC_UL348_SR348,348_.jpg" alt="">
    <div class="info">
      <h4>Next in Line</h4>
    <h6>William Warwick</h6>
    <p>₹316</p>
    <a style="color: red;" href="">Not available for rent</a>
    </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/71FnvvhcaTL._AC_UL330_SR330,330_.jpg" alt="">
    <div class="info">
      <h4>Sherlock Holmes</h4>
    <h6>Sir Arthur Conan Doyle</h6>
    <p>₹151</p>
    <a style="color: green;" href="">Available for rent</a>
    </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/81y9uCHoxrL._AC_UL348_SR348,348_.jpg" alt="">
    <div class="info">
      <h4>THE SILENT PATIENT</h4>
    <h6>Alex Michaelides </h6>
    <p>₹324</p>
    <a style="color: green;" href="">Available for rent</a>
    </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/81g2oEdeGTL._AC_UL348_SR348,348_.jpg" alt="">
    <div class="info">
      <h4>A Man Called Ove</h4>
    <h6>Fredrik Backman</h6>
    <p>₹232.6</p>
    <a style="color: red;" href="">Not available for rent</a>
    </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/91868k2+gUL._AC_UL330_SR330,330_.jpg" alt="">
    <div class="info">
      <h4>VERITY</h4>
    <h6> Colleen Hoover</h6>
    <p>₹205</p>
    <a style="color: red;" href="">Not available for rent</a>
    </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/91gD7eecW7L._AC_UL330_SR330,330_.jpg" alt="">
    <div class="info">
      <h4>Too Late</h4>
    <h6>Colleen Hoover</h6>
    <p> ₹267</p>
    <a style="color: green;" href="">Available for rent</a>
    </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 70%;margin-top: 20px;margin-left: 40px;" src="https://images-eu.ssl-images-amazon.com/images/I/81e0u0+yQtL._AC_UL330_SR330,330_.jpg" alt="">
    <div class="info">
        <h4>Without Merit</h4>
        <h6>Colleen Hoover</h6>
        <p>₹368</p>
        <a style="color: green;" href="">Available for rent</a>
        </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 45%;margin-top: 20px;margin-left: 40px;" src="https://m.media-amazon.com/images/I/7195f4cdAVL._AC_UY436_FMwebp_QL65_.jpg" alt="">
    <div class="info">
      <h4>Everything Is F*cked</h4>
    <h6> Mark Manson</h6>
    <p>₹138.70</p>
    <a style="color: red;" href="">Not available for rent</a>
    </div>
 </div>
 <div style="background-color: white; margin: 20px;" class="books dimen">
    <img style="width: 45%;margin-top: 20px;margin-left: 40px;" src="https://m.media-amazon.com/images/I/61Ktyy7KymL._AC_UY436_FMwebp_QL65_.jpg" alt="">
    <div class="info">
      <h4>The Art of Being Alone</h4>
    <h6>Renuka Gavrani</h6>
    <p>₹169</p>
    <a style="color: green;" href="">Available for rent</a>
    </div>
 </div>
 
 
</div>
  



  <script id="script">
    let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  </script>
    </div>  
</body>
</html>